<% if current_user.admin == true %>
  <div class="form">
    <h1>Créer une nouvelle facture</h1>
    <%= minimal_form_for @new_invoice, url:invoice_index_path(id: @command.id), method: :post do |f| %>
      <%= f.input :status, collection: ["a payer"] %>
      <%= f.input :invoice_file, placeholder: 'nom du fichier de la facture' %>
       <%= f.input :command_id, as: :hidden, input_html: { value: @command.id } %>
      <%= f.button :submit, 'créer' %>
    <% end %>
  </div>
<% end %>
