
<div class="container">
  <h2><%= @user.email%>'s commands</h2>
  <%= "#{@invoice_data.compagny_name}" %><br/>
  <%= "#{@invoice_data.adress}" %><br/>
  <%= "#{@invoice_data.number}/#{@invoice_data.siren}" %><br/><br/><br/>
  <%= render 'admin/command/command_card', object: @commands %>
  <%= render 'admin/command/new_command_form', object: @new_command, object: @user %>
</div>

