

<nav class="valtonavbar navbar navbar-dark navbar-expand-lg" role="navigation">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Valto', home_index_path, class: 'navbar-brand', method: :get %>

  <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse navbar-padding-bottom">
    <ul class="navbar-nav">
      <li class="nav-item">
          
          TEST
          
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item mb-1">
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <%= link_to "admin interface", admin_index_path, class: "nav-link nav-link--rounded" %>
          <% else %>
            <%= link_to "my interface", command_index_path, class: "nav-link nav-link--rounded" %>
          <% end %>
        <% else %>
          <%= link_to "Connexion", new_user_session_path, class: "nav-link nav-link--rounded" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

