<div class='business-hero' >
  <div class="container">
    <h2 class="customFadeInUp">
      Take control of your business, integrate, automate and launch quickly.
    </h2>
    <p class="customFadeInUp">
      Millions of people use this theme. Each of them use it differently.
      <br>
      So we created fifteen incredible new designs, some in collaboration with a few of the world's most influential and carismatic people ever known.
    </p>

    <div class="actions customFadeInUp">
      <a href="#" class="btn-pill btn-pill-primary btn-pill-lg">Sign Up Free</a>
    </div>
  </div>
</div>
</div class='container'>
<!--      TEXTE     -->

   <div class="spacial-features customFadeInUp margin m-3" data-scroll="">
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h2>Les enjeux de la transition numérique pour les entreprises.</h2>
            <p>
                A l'ère du digital, les entreprises doivent s'adapter au développement rapide et constant des nouvelles technologies afin d'améliorer leurs performances et en faire un véritable levier.
            </p>
          </div>
        </div>
      </div>
    </div class='container'> 
  </div>

<!--      TEXTE     -->

<!--      BLOC DE 4 CARTES     -->

<!--      TEST     -->

<div class="container">
    <div class="row  mx-auto ">
			<div class="col-sm-6 col-lg-4 margin m-3 mx-auto">
        		<!-- Card Flip -->
				<div class="card-flip blockcarte">
					<div class="flip">
						<div class="front blockcarte">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardWeb.png"%>
							  <div class="card-block text-center">
								  <h1> Test </h1>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back blockcarte">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
        
 			<div class="col-sm-6 col-lg-4 margin m-3 mx-auto carte">
        		<!-- Card Flip -->
				<div class="card-flip carte">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardCom.png"%>
							  <div class="card-block text-center margin mb-3">
							    <h4 class="card-title margin m-4">Design et communication</h4>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
    </div>
    <div class="row">
			<div class="col-sm-6 col-lg-4 margin m-3 mx-auto ">
        		<!-- Card Flip -->
				<div class="card-flip"  style="max-width: 450px;" >
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardERP.png"%>
							  <div class="card-block text-center margin mb-3">
							    <h4 class="card-title margin m-4">Solution de gestion d'entreprise</h4>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			<div class="col-sm-6 col-lg-4 margin m-2 mx-auto " >
        		<!-- Card Flip -->
				<div class="card-flip"  style="max-width: 450px;" >
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardForm.png"%>
							  <div class="card-block text-center margin mb-3">
							    <h4 class="card-title margin m-4">Site Web</h4>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
    </div>
</div>


				<div class="card-flip blockcarte">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardWeb.png"%>
							  <div class="card-block text-center">
								  <h1> Test </h1>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>


<!--      FORM     -->

  <div class="form">
    <%= minimal_form_for root_path(@phone) do |f| %>
      <%= f.input :number, placeholder: t('.number') %>
      <%= f.button :submit, t('.send') %>
    <% end %>
  </div>
  <!-- minimal_form_for is a version of simple_form_for without fields descriptions
  it's used exactly as simple_form_for -->

</div>
<!--      FORM     -->
<%= javascript_include_tag 'application' %>
