<div class='business-hero' >
  <div class="container">
    <h2 class="customFadeInUp">
      Take control of your business, integrate, automate and launch quickly.
    </h2>
    <p class="customFadeInUp">
      Millions of people use this theme. Each of them use it differently.
      <br>
      So we created fifteen incredible new designs, some in collaboration with a few of the world's most influential and carismatic people ever known.
    </p>

    <div class="actions customFadeInUp">
      <a href="#" class="btn-pill btn-pill-primary btn-pill-lg">Sign Up Free</a>
    </div>
  </div>
</div>
</div class='container'>

<!--      BLOC DE 4 CARTES     -->

<div class="container-fluid">

  <div class="row margin m-3">
        <div class="col-sm-6">
        
             <div class = "flipping-card-wrapper w-50 mx-auto">
                <div class = "flipping-card transition active-on-hover border-4">
                  <div class = "front">
                      <div class="card-body text-center">
                        <i class="fa fa-globe fa-5x margin m-3" aria-hidden="true"></i>
                        <h4 class="card-title margin m-3">Site Web</h4>
                      </div>                  
                  </div>
                  <div class = "back">
                      <div class="card-body text-center">
                         <h4 class="card-title margin m-2">Site Web</h4>
                        <p class="card-text margin m-2">Un site web est un moyen de se renseigner sur vous de n'importe où et n'importe quand, souvent gage de professionnalisme, il vous permet également de toucher de nouveaux clients ainsi que de leur apporter de nouveaux services. Un site est souvent pris à tort comme un coût alors que c'est un investissement.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
                </div>
             </div>
    
        </div>
        <div class="col-sm-6">
        
             <div class = "flipping-card-wrapper w-75 mx-auto">
                <div class = "flipping-card transition active-on-hover">
                  <div class = "front">
                    <button class="btn btn-primary" type="button">
  <i class="entypo-thumbs-up"></i>
  Btn primary
</button>
                    <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
                    <h4>Un icone a styliser et centrer ici</h4>
                  </div>
                  <div class = "back">
                      <%= "Mettre plus d'informations de ce côté" %>
                  </div>
                </div>
             </div>
    
        </div>
        <div class="col-sm-6">
        
             <div class = "flipping-card-wrapper w-75 mx-auto">
                <div class = "flipping-card transition active-on-hover">
                  <div class = "front">
                    <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
                    <h4>Un icone a styliser et centrer ici</h4>
                  </div>
                  <div class = "back">
                      <%= "Mettre plus d'informations de ce côté" %>
                  </div>
                </div>
             </div>
    
        </div>
        <div class="col-sm-6">
        
             <div class = "flipping-card-wrapper w-75 mx-auto">
                <div class = "flipping-card transition active-on-hover">
                  <div class = "front">
                    <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
                    <h4>Un icone a styliser et centrer ici</h4>
                  </div>
                  <div class = "back">
                      <%= "Mettre plus d'informations de ce côté" %>
                  </div>
                </div>
             </div>
    
        </div>
    </div>


</div>


<!--      BLOC DE 4 CARTES     -->

  <div class="form">
    <%= minimal_form_for root_path(@phone) do |f| %>
      <%= f.input :number, placeholder: t('.number') %>
      <%= f.button :submit, t('.send') %>
    <% end %>
  </div>
  <!-- minimal_form_for is a version of simple_form_for without fields descriptions
  it's used exactly as simple_form_for -->

</div>

<%= javascript_include_tag 'application' %>
