<div class='business-hero' >
  <div class="container">
    <h2 class="customFadeInUp">
      Take control of your business, integrate, automate and launch quickly.
    </h2>
    <p class="customFadeInUp">
      Millions of people use this theme. Each of them use it differently.
      <br>
      So we created fifteen incredible new designs, some in collaboration with a few of the world's most influential and carismatic people ever known.
    </p>

    <div class="actions customFadeInUp">
      <a href="#" class="btn-pill btn-pill-primary btn-pill-lg">Sign Up Free</a>
    </div>
  </div>
</div>
</div class='container'>
<!--      TEXTE     -->

   <div class="spacial-features customFadeInUp margin m-3" data-scroll="">
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h2>Les enjeux de la transition numérique pour les entreprises.</h2>
            <p>
                A l'ère du digital, les entreprises doivent s'adapter au développement rapide et constant des nouvelles technologies afin d'améliorer leurs performances et en faire un véritable levier.
            </p>
          </div>
        </div>
      </div>
    </div class='container'> 
  </div>

<!--      TEXTE     -->

<!--      BLOC DE 4 CARTES     

<div class="container-fluid">

  <div class="row margin m-5">
        <div class="col-sm-6">
        
             <div class = "flipping-card-wrapper w-50 mx-auto">
                <div class = "flipping-card transition active-on-hover">
                  <div class = "front">
                      <div class="card-body text-center">
			<%= image_tag "CardWeb.png" %>
                        <h4 class="card-title margin m-3">Site Web</h4>
                      </div>                  
                  </div>
                  <div class = "back">
                      <div class="card-body">
                         <h4 class="card-title margin m-2">Site Web</h4>
                        <p class="card-text text-justify margin m-2">Un site web est un moyen de se renseigner sur vous de n'importe où et n'importe quand, souvent gage de professionnalisme, il vous permet également de toucher de nouveaux clients ainsi que de leur apporter de nouveaux services. Un site est souvent pris à tort comme un coût alors que c'est un investissement.</p>
                        <a href="#" class="btn btn-primary text-center">Go somewhere</a>
                      </div>
                  </div>
                </div>
             </div>
    
        </div>
        <div class="col-sm-6">
        
             <div class = "flipping-card-wrapper w-50 mx-auto">
                <div class = "flipping-card transition active-on-hover">
                  <div class = "front">
                      <div class="card-body text-center">
                        <i class="fa fa-cube fa-5x margin m-3" aria-hidden="true"></i>
                        <h4 class="card-title margin m-3">Design et communication</h4>
                      </div>                  
                  </div>
                  <div class = "back">
                      <div class="card-body">
                         <h4 class="card-title margin m-2">Design et communication</h4>
                        <p class="card-text text-justify margin m-2">Pour Créer ou moderniser votre image en gardant tout se qui fait de l'entreprise ce qu'elle est. La différence entre un travail réalisé par un graphiste professionnel ou un graphiste improvisé saute aux yeux et reflète l’image de votre société : professionnel ou amateur.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
                </div>
             </div>
    
        </div>
        <div class="col-sm-6">
        
             <div class = "flipping-card-wrapper w-50 mx-auto">
                <div class = "flipping-card transition active-on-hover">
                  <div class = "front">
                      <div class="card-body text-center">
                        <i class="fa fa-rocket fa-5x margin m-3" aria-hidden="true"></i>
                        <h4 class="card-title margin m-3">>Solution de gestion d'entreprise</h4>
                      </div>                  
                  </div>
                  <div class = "back">
                      <div class="card-body">
                         <h4 class="card-title margin m-2">Solution de gestion d'entreprise</h4>
                        <p class="card-text text-justify margin m-2">Elle doit s'adapter a votre entreprise afin de vous faire gagner du temps, simplifier les taches administratives et reduire les delais tout en sachant ou vous en etes en temps réel, voici ce qui fait la difference sur un maché de plus en plus concurenciel.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
                </div>
             </div>
    
        </div>
        <div class="col-sm-6">
        
             <div class = "flipping-card-wrapper w-50 mx-auto">
                <div class = " transition active-on-hover">
                  <div class = "front">
                      <div class="card-body text-center">
                        <i class="fa fa-compass fa-5x margin m-3" aria-hidden="true"></i>
                        <h4 class="card-title margin m-3">Accompagnement et formation</h4>
                      </div>                  
                  </div>
                  <div class = "back">
                      <div class="card-body">
                         <h4 class="card-title margin m-2">Accompagnement et formation</h4>
                        <p class="card-text text-justify margin m-2">Une transition numerique desorganisé ou trop rapide peut crée un sentiment d'exclusion chez les personnes pas assez formées ou qui n'ont simplement pas l'habitude, l'acompagnement est primordial pour une transition adapté a l'entreprise.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
                </div>
             </div>
    
        </div>
    </div>


</div>
-->
<!--      BLOC DE 4 CARTES     -->

<!--      TEST     -->

<div class="container-fluid  mx-auto ">
    <div class="row  mx-auto ">
			<div class="col-sm-6 col-lg-4 margin m-3 mx-auto ">
        		<!-- Card Flip -->
				<div class="card-flip" style="max-width: 450px;" >
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardWeb.png"%>
							  <div class="card-block text-center margin mb-3">
							    <h4 class="card-title margin m-4">Site Web</h4>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
        
 			<div class="col-sm-6 col-lg-4 margin m-3 mx-auto ">
        		<!-- Card Flip -->
				<div class="card-flip" style="max-width: 450px;" >
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardCom.png"%>
							  <div class="card-block text-center margin mb-3">
							    <h4 class="card-title margin m-4">Design et communication</h4>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
    </div>
    <div class="row">
			<div class="col-sm-6 col-lg-4 margin m-3 mx-auto ">
        		<!-- Card Flip -->
				<div class="card-flip"  style="max-width: 450px;" >
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardERP.png"%>
							  <div class="card-block text-center margin mb-3">
							    <h4 class="card-title margin m-4">Solution de gestion d'entreprise</h4>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			<div class="col-sm-6 col-lg-4 margin m-3 mx-auto " >
        		<!-- Card Flip -->
				<div class="card-flip"  style="max-width: 450px;" >
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<%= image_tag "CardForm.png"%>
							  <div class="card-block text-center margin mb-3">
							    <h4 class="card-title margin m-4">Site Web</h4>
							    <a href="#" class="btn btn-primary margin m-3 text-center">En savoir Plus</a>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Card Flip</h4>
							    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
							  </div>
							  <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
    </div>
</div>



<!--      TEST     -->

<!--      FORM     -->

  <div class="form">
    <%= minimal_form_for root_path(@phone) do |f| %>
      <%= f.input :number, placeholder: t('.number') %>
      <%= f.button :submit, t('.send') %>
    <% end %>
  </div>
  <!-- minimal_form_for is a version of simple_form_for without fields descriptions
  it's used exactly as simple_form_for -->

</div>
<!--      FORM     -->
<%= javascript_include_tag 'application' %>
