<div class='business-hero' >
  <div class="container">
    <h2 class="customFadeInUp">
      Take control of your business, integrate, automate and launch quickly.
    </h2>
    <p class="customFadeInUp">
      Millions of people use this theme. Each of them use it differently.
      <br>
      So we created fifteen incredible new designs, some in collaboration with a few of the world's most influential and carismatic people ever known.
    </p>

    <div class="actions customFadeInUp">
      <a href="#" class="btn-pill btn-pill-primary btn-pill-lg">Sign Up Free</a>
    </div>
  </div>
</div>
</div class='container-fluid'>
  <div class='row ml-2' id='container-top-margin'>
    <div class='col-xs-12 col-sm-6 col-md-6'>
      <div class = "flipping-card-wrapper w-75" id="centered">
        <div class = "flipping-card transition active-on-hover">
          <div class = "front">
            <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
            <h4>Un icone a styliser et centrer ici</h4>
          </div>
          <div class = "back">
            <div class="feature">
              <img src="../public/theme/images/icons/spacial-devices.png">
              <h3>
                Have conversations with your friends
              </h3>
              <p>
                Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
              </p>
            </div>
          </div>
        </div>
      </div>
     </div>
    <div class='col-xs-12 col-sm-6 col-md-6'>
      <div class = "flipping-card-wrapper w-75" id="centered">
        <div class = "flipping-card transition active-on-hover">
          <div class = "front">
            <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
            <h4>Un icone a styliser et centrer ici</h4>
          </div>
          <div class = "back">
              <%= "Mettre plus d'informations de ce côté" %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6 col-md-6'>
      <div class = "flipping-card-wrapper w-75" id="centered">
        <div class = "flipping-card transition active-on-hover">
          <div class = "front">
            <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
            <h4>Un icone a styliser et centrer ici</h4>
          </div>
          <div class = "back">
              <%= "Mettre plus d'informations de ce côté" %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6 col-md-6'>
      <div class = "flipping-card-wrapper w-75" id="centered">
        <div class = "flipping-card transition active-on-hover">
          <div class = "front">
            <i class="fa fa-briefcase fa-5x" aria-hidden="true" id='centered'></i>
            <h4>Un icone a styliser et centrer ici</h4>
          </div>
          <div class = "back">
              <%= "Mettre plus d'informations de ce côté" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>

  <div class="form">
    <%= minimal_form_for root_path(@phone) do |f| %>
      <%= f.input :number, placeholder: t('.number') %>
      <%= f.button :submit, t('.send') %>
    <% end %>
  </div>
  <!-- minimal_form_for is a version of simple_form_for without fields descriptions
  it's used exactly as simple_form_for -->

</div>

<%= javascript_include_tag 'application' %>
